.navbar-link {
    transition-duration: 86ms;
    transition-property: background-color,box-shadow,color;
    background-color: rgb(40, 40, 40);
    border: none;
    color: #f0f0f0;
  }
  
  .navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
    background-color: rgb(40, 40, 40);
    color: #f0f0f0;
  }
  
  .navbar-item.has-dropdown.is-active .navbar-link, .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link {
    background-color: rgb(40, 40, 40);
    color: #f0f0f0;
  }
  
  .navbar-main {
    padding: 0.75em 1em;
    color:#f0f0f0;
    font-size: 25px;
    font-weight: 100;
  }
  
  .navbar-end {
    margin-right: 0.6em;
  }
  
  #navbar {
    background-color: rgb(40, 40, 40);
  }