.navbar-item {
  transition-duration: 86ms;
  transition-property: background-color,box-shadow,color;
  color: #f0f0f0;
}

.navbar-item img {
  max-height: 3rem;
  margin-right: 10px;
}

.navbar-link {
  transition-duration: 86ms;
  transition-property: background-color,box-shadow,color;
  color: #f0f0f0;
  padding: 0.5rem 1.75rem;
}

.navbar-item:hover > a {
  background-color: rgb(40, 40, 40);
}

.navbar-item.has-dropdown.is-active .navbar-link, .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link {
  background-color: rgb(40, 40, 40);
}

.navbar-main {
  padding: 0.75em 1em;
  color:#f0f0f0;
  font-size: 25px;
  font-weight: 100;
}

.navbar-end {
  margin-right: 0.6em;
}

.navbar-main:focus {
  color: #f0f0f0;
  background-color: rgb(40, 40, 40);
}

.navbar-main:hover, .navbar-item:hover, .navbar-link:hover {
  transition-duration: 200ms;
  transition-property: color;
  background-color: rgb(40, 40, 40);
  color:lightgray;
}

.navbar-item:focus {
  background-color: rgb(40, 40, 40);
  color:lightgray;
}

#navbar {
  background-color: rgb(40, 40, 40);
}