.ion-load-a:before, .ion-load-b:before, .ion-load-c:before, .ion-load-d:before {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }   
}