/* hero */
#hero-custom {
    background-color: #ede6d4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.hero-txt {
    width: 55%;
    padding: 8% 3%;
}

.hero-img {
    width: 45%;
}

.hero-img > img {
    width: auto;
    display: block;
}

/* trick to scale an svg 
    background-image: url("../../svgs/hero-gradiant.svg");
    background-size: cover;
    height: 0;
    padding: 0; /* reset */
    /*
    padding-bottom: calc(100% * 1 / 2);
*/

/* assets */

.landing-section > .title {
    text-align: center;
}

.landing-assets-parent {
    display: flex;
    flex-wrap: wrap;
}

.event-card {
    transition: 100ms ease-out;
}
.event-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 500ms ease-out;
}