.landing-title, .landing-subtitle {
    text-align: center;
    line-height: 2em;
}

.landing-assets-parent {
    display: flex;
    flex-wrap: wrap;
}



.hero-custom {
    background-color: #ede6d4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.hero-txt {
    width: 50%;
    padding: 9% 3%;
}

.hero-img {
    width: 50%;
}

.hero-img > img {
    width: auto;
    display: block;
}

/* trick to scale an svg 
    background-image: url("../../svgs/hero-gradiant.svg");
    background-size: cover;
    height: 0;
    padding: 0; /* reset */
    /*
    padding-bottom: calc(100% * 1 / 2);
*/